@(registerForm: Form[RegisterCtrl.RegisterViewModel])(implicit flash: Flash)

@templates.ozone.oxyjen_zone(None, "Register") {
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>
                Create a new Organization
            </h2>
            <form action="@routes.RegisterCtrl.registerPost()" method="post">
                <div class="form-group">
                    <label for="orgId">Organization ID</label>
                    <input name="orgId" type="text" id="orgId" placeholder="Organization ID"
                        class="form-control" value="@registerForm("orgId").value">
                    @ozone.form_field_error(registerForm.error("orgId"))
                    @* @helper.inputText(userForm("orgId"), 'id -> "orgId",
                        'placeholder -> "Organization ID", 'class -> "form-control")*@
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password"
                        placeholder="Password" class="form-control"
                        value="@registerForm("password").value">
                    @ozone.form_field_error(registerForm.error("password"))
                </div>

                <div class="form-group">
                    <label for="repeat-password">Repeat password</label>
                    <input name="password2" type="password" id="repeat-password"
                        placeholder="Repeat password" class="form-control"
                        value="@registerForm("password2").value">
                    @ozone.form_field_error(registerForm.error("password2"))
                </div>

                <input type="submit" class="btn btn-success" value="Register">
                <a href="@routes.MainOzoneCtrl.index()" class="btn btn-warning">Cancel</a>

                <div class="form-group">
                    Already have an account? <a href="@routes.SignInCtrl.login()">Sign in here</a>
                </div>
            </form>
        </div>
    </div>
}
